{%extends 'all-views/base.html'%}

{% block content%}


<div class="container">
	<div class="col-md-2"></div>
	<br><br><br>
	<div class="col-md-8" style="margin-left: 200px">
		<div class="panel panel-default">
		  <div class="card"><h3>Search results for the user: <strong>{{message}}</strong></h3></div>
		  {%if users%}
		  	{% for user in users %}
			<div class="panel-default">
				<div class="row">
					<div class="col-md-2">
						<a href="{% url 'profile' user.id %}"><img class="img-responsive img-circle" src="{{user.profilepic.url}}" alt="" style="width:50px; height:50px"></a>
					</div>
					<div class="col-md-10" style="padding-top:11px">
						<a href="{% url 'profile' user.id %}">{{user.user.username}}</a>
					</div>
				</div>
			</div>
		{%endfor%}
		{%else%}
		<div class="panel-default">
				<h3 class="text-center">No user with the name <strong>{{message}}</strong> exists!</h3>
			</div>
		{%endif%}
	    
	  
  </div>
</div>
<div class="col-md-2"></div>

</div>



{%endblock%}
